[user]
  name        = {{ primary_user.name }}
  email       = {{ primary_user.email }}

[push]
  default     = simple

[core]
  editor      = vim

[grep]
  linenumber  = true

[color]
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  ui          = true
  pager       = true
[color "branch"]
  current     = yellow reverse
  local       = yellow
  remote      = green
[color "diff"]
  meta        = blue
  frag        = magenta
  old         = red
  new         = green
[color "status"]
  added       = yellow
  changed     = green
  untracked   = blue

[alias]
  a           = add .
  ap          = add -u -p
  b           = branch
  c           = commit -v
  co          = checkout
  d           = diff
  s           = status -s -b
  l           = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short
  l1          = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short -1

{% if proxy == True %}
[http]
  proxy       = http://127.0.0.1:3128
[https]
  proxy       = https://127.0.0.1:3128
{% endif %}

