[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = d1e9f7ea-0a31-4270-8d5c-029fe5dee8a4
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 215:151
      size = 1340, 662
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 331
      ratio = 0.5
      type = VPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = default
      title = [ top ]
      type = Terminal
      uuid = cfa9c10d-5708-49d5-9cb4-7fa24f926a4d
    [[[terminal3]]]
      order = 1
      parent = child1
      profile = default
      title = [ bottom ]
      type = Terminal
      uuid = d1e9f7ea-0a31-4270-8d5c-029fe5dee8a4
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = Monospace 8
    scrollback_infinite = True
    use_system_font = False

